$primeColor:#ceab74;
$primeColorHover:#D6BA8D;


.button-prime{
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  padding: 20px 24px;
  text-transform: uppercase;
  width: auto;
  background-color: $primeColor;
  border: none;
  &:hover{
    background-color: $primeColorHover;
  }
}


body{
  overflow-x: hidden;
  .mainSlider{
    .slick-slide img{
      height: 95vh;
      width: 100%;
    }
  }

  
  .header{
    position: absolute;
    z-index: 100;
    top: 2%;
    margin: 0 auto;
    width: 100%;
    .head{
      background-color: rgba(0, 0, 0, 0.5);
      .logo{
        >a{
          >img{
            width: 50%;
          }
        }
      }
    }
   
    .links{
      padding-top: 50px;
      .menu-primary-navigation{
        list-style: none;
        width: 100%;
        display: inline-flex;
        font-size: 16px;
        padding-left: 50px;
        padding-right: 50px;
        .menu-item{
          list-style: none;
          width: 33%;
          text-align: center;
          margin-right: -4px;
          &:hover{
            font-size: 18px;
          }
          >a{
            text-decoration: none;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
    .text-banner{
      margin-top: 10%;
      text-align: left;
      >h1{
        color: white;
      }
    }
  }
  .header.product{
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    .head{
      background: none;
    }
    .text-banner{
      display: none;
    }
  }
  .forms{
    z-index: 1001;
    position: relative;
    margin-top: -4.5%;
    background-color: #222;
    padding: 2%;
    .input-group{
      height: 50px;
      >select{
        width: 16%;
      }
      >input[name= searchWord]{
        width: 30%;
      }
      >input[type= submit]{
        width: 14%;
      }
      >input[name= sizeFrom],
      >input[name= sifeOf],
      >input[name= priceOf],
      >input[name= priceFrom]{
        width: 10%;
      }
      
    }
  }
  .result{
    margin-top: 5%;
    .result-search{
      .search-container {
       >div{
          .result-count{
            text-align: center;
            font-size: 25px;
            margin-bottom: 2%;
            >p{
              border-bottom: 1px solid $primeColor;
              >span{
                color: $primeColor;
              }
            }
          }
          .realEstate{
            margin-bottom: 2%;

            >a{
              text-decoration: none;
              color: black;
              .up-section{
                position: relative;
                .img{
                  >img{
                    object-fit: cover;
                    width: 100%;
                    height: 230px;
                  }
                }
                .price{
                  position: absolute;
                  inset: 0;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  font-size: 2.25rem;
                  font-weight: 500;
                  background-color: #00000080;
                  color: white;
                }
              }
              .center-section{
                .title{
                  text-align: center;
                  font-weight: bold;
                }
                .location{
                  color: red;
                }
                .desc{
                  height: 145px;
                  overflow: hidden;
                  display: block;
                }
              }
              .bottom-section{
                display: flex;
                text-align: center;
                .number-room{
                  width: 50%;
                  font-weight: bold;
                  border: 2px solid;
                  >img{
                    width: 25px;
                  }
                }
                .size{
                  width: 50%;
                  font-weight: bold;
                  border: 2px solid;
                  border-left: none;
                  >img{
                    width: 25px;
                  }
                }
              }
            }
            
          }
          >nav{
            >ul{
              width: max-content;
              margin: 2% auto;
            }
          }
        }
        
      }
    }
  }
  .newPost{
    margin-top: 0 !important;
    .result-search{
      .search-container{
        .title{
          text-align: center;
          border-bottom: 1px solid gray;
          margin-bottom: 2%;
        }
        .slick-slider{
          margin-bottom: 5%;
          .slick-list{
            .slick-track{
              .slick-slide {
                >div{
                  .realEstate {  
                    padding: 20px;
                    .bottom-section img{
                      width: 25px;
                      height: 25px;
                      display: inline-block;
                    }
                  }
                }
                //height: 25px;
              }
            }
          }
        }
      }
    }
  }
  .sendQuest{
    position: relative;
    >img{
      height: 60vh;
      width: 100%;
      object-fit: cover;
    }
    >div{
      position: absolute;
      top: 15%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      .container-quest{
        background-color: rgba(255,255,255,0.8);
        padding: 30px;
        text-align: center;
        display: inline-grid;
        >button{
          width: max-content;
          margin: 0 auto;
          margin-top: 3%;
        }
      }
    }
    
  }
  .product-detail{
    min-height: 100vh;
  }
  .footer{
    text-align: center;
    background-color: #222;
    color: #ffffff;
    >div{
      padding: 1%;
      >div{
        .name{
          >h2{
            >span{
              color: $primeColor;
            }
          }
        }
        .mobileNumber{
          >a{
            color: white;
            font-size: 18px;
            text-decoration: none;
            padding: 3%;
          }
        }
        .logo{
          >img{
            width: 70%;
            padding: 5%;
          }
        }
      }
      .reserver{
          list-style: none;
          >li{
            >a{
              text-decoration: none;
              color: white;
              cursor: pointer;
            }
          }
      }
    }
    
  }
}


//PRODUCT PAGE

.product-detail{
  margin-top: 2%;
  >div{
    >div{
      .title{
        >h2{
          font-weight: bold;
        }
      }
    }
    .image-carousel{
      >div{
        .slick-slider{
          max-height: 50vh;
          .slick-list{
            .slick-track{
              .slick-slide{
                >div{
                  >div{
                    >img{
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
          .slick-arrow{
            z-index: 1;
            width: max-content;
            height: max-content;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 30px;
          }
          .slick-next{
            right: 2%;
            top: 50%;
            &:before{
              content:  url('Product/slider-icon-right.png');
              
            }
          }
          .slick-prev{
            left: 2%;
            top: 50%;
            &:before{
              content:  url('Product/slider-icon-left.png');
            }
          }
        }
      }
    }
    .section-wrap{
      width: 80%;
      margin-bottom: 1%;
      .location{
        margin-top: 2%;
        >div{
          >span{
            font-size: 20px;
          }
        }
      }
      .priceAndSize{
        margin-top: 1%;
        >div{
          background-color: $primeColor;
          font-weight: bold;
          font-size: 18px;
          padding: 5px;
          color: white;
          .price{
            float: left;
          }
          .priceWithSize{
            float: right;
          }
        }
      }
      .details{
        margin-top: 1%;
        .title{
          background-color: $primeColor;
          font-size: 18px;
          font-weight: bold;
          color: white;
        }
        .section{
          margin-top: 1%;
          .subtitle{
            font-weight: bold;
          }
          >ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style: none;
            >li{
              width: calc(50% - 10px);
              >strong{
                margin-left: 5px;
              }
            }
          }
          border-bottom: 1px solid gray;
        }
      }
      .text-desc{
        margin-top: 1%;
        .title{
          font-weight: bold;
        }
      }
      .location-map{
        margin-top: 1%;
        .title{
          font-weight: bold;
        }
        .section-2{
          >iframe{
            width: 100%;
            height: 50vh;
          }
        }
      }
    }
  }
}
